<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改页面</title>
</head>
<body>
<form action="index.php?m=Admin&c=Student&a=tianjia" method="post">
	<table border="1" width="600" align="center" cellpadding="2" rules="all" cellspacing="0">
		<tr>
			<td>姓名: </td>
			<td><input type="text" name="name" ></input></td>
		</tr>
		<tr>
			<td>性别: </td>
			<td>
			<input type="radio" name="sex" value="男" >男</input>
			<input type="radio" name="sex" value="女" >女</input>
			</td>
		</tr>
		<tr>
			<td>年龄: </td>
			<td><input type="text" name="age" ></input></td>
		</tr>
		<tr>
			<td>学历: </td>
			<td>
				<select name="edu">
					<option value="初中" >初中</option>
					<option value="高中" >高中</option>
					<option value="大专" >大专</option>
					<option value="大本" >大本</option>
					<option value="研究生">研究生</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" ><input type="submit" value="提交"></input></td>
	
		</tr>
	</table>
</form>
</body>
</html>